# temp javascript files (bundle)
temp/

# dist files (it can be generated)
dist/

# coverage
coverage/

# npm
node_modules/
npm-debug.log

# bower
bower_components/

# tsd
typings/

# log
.idea
**/**/.DS_Store
