# automatically compiled files
source/**/*.js
test/**/*.test.js

# build javascript files
build/

# bundled files
bundled/

# report files
reports/

# coverage
coverage/

# npm
node_modules/
npm-debug.log

# bower
bower_components/

# tsd
typings/

# log
.idea
**/**/.DS_Store
